@media (min-width: 768px){
.jumbotron {
    margin-bottom: 0;
    background: #021706;
    background-image: url("./images/hero.png"),url("./images/hero_right.png");
    background-repeat: no-repeat;
    background-position: bottom left,bottom right;
}
}

@media  (max-width: 767px){
    .jumbotron{
        margin-bottom: 0;
        background-image: none;
        background-color: #021706;
    }
}

.jumbotron h1 {
    color: #339983;
    text-decoration: underline;
}

.jumbotron h3{
    color: #0B5949;
}