#contact .container {
    margin-top:25px;
}

#profile_img {
    margin:auto;
}

ul{
    list-style: none;
    padding-left: 0
}

.techList{
    font-weight: bold;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.techList li{
    padding: 0 20px 0;
}